.imagen {
  height: 75px;
  width: 75px;
}
.titulo {
  color: aqua;
}
.texto {
  color: white;
}
* {
  color: white;
}
.error {
  font-size: 2em;
  color: red;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
