<div class="container">
  <h2 class="text-center bg-primary text-white">Formulario</h2>
</div>
<div class="container">
  <form
    class="row g-3 d-flex p-2"
    action="/api/v1/clubs/createClub"
    method="Post"
    enctype="multipart/form-data"
  >
    <div class="col-md-3">
      <label for="nombre" class="form-label">Nombre del Equipo</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        name="name"
        placeholder="Manchester City"
        required
      />
    </div>
    <div class="col-md-2">
      <label for="nombre-abreviado" class="form-label">Nombre Abreviado</label>
      <input
        type="text"
        class="form-control"
        id="nombre-abreviado"
        name="shortName"
        placeholder="Man City"
      />
    </div>
    <div class="col-md-2">
      <label for="nombre-acronimo" class="form-label">Acronimo de tres letras</label>
      <input
        type="text"
        class="form-control"
        id="nombre-acronimo"
        name="tla"
        placeholder="MCI"
        required
      />
    </div>
    <div class="col-md-5">
      <label for="input-email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="input-email"
        name="email"
        placeholder="mancity@hotmail.com"
      />
    </div>
    <div class="col-3">
      <label for="input-telefono" class="form-label">Telefono</label>
      <input
        type="text"
        class="form-control"
        id="input-telefono"
        name="phone"
        placeholder="+264123456"
      />
    </div>
    <div class="col-6">
      <label for="input-pagina" class="form-label">Pagina web</label>
      <input
        type="text"
        class="form-control"
        id="input-pagina"
        name="website"
        placeholder="https://www.mancity.com"
      />
    </div>
    <div class="col-3">
      <label for="input-fundacion" class="form-label">A単o de fundacion</label>
      <input
        type="text"
        class="form-control"
        id="input-fundacion"
        name="founded"
        placeholder="1880"
        required
      />
    </div>
    <div class="col-2">
      <label for="input-primer-color" class="form-label">Color</label>
      <input
        type="text"
        class="form-control"
        id="input-colores"
        name="clubColors"
        placeholder="Sky Blue / White"
        required
      />
    </div>
    <div class="col-7">
      <label for="input-estadio" class="form-label">Estadio</label>
      <input
        type="text"
        class="form-control"
        id="input-estadio"
        name="venue"
        placeholder="Etihad Stadium"
        required
      />
    </div>
    <div class="col-6">
      <label for="input-direccion" class="form-label">Direccion</label>
      <input
        type="text"
        class="form-control"
        id="input-direccion"
        name="address"
        placeholder="M11 3FF"
      />
    </div>
    <div class="col-6">
      <label for="imagen-url" class="form-label">Escudo URL</label>
      <input
        type="text"
        class="form-control"
        id="imagen-url"
        name="crestUrl"
        placeholder="https://upload.wikimedia.org/wikipedia/en/5/53/Arsenal_FC.svg"
      />
    </div>
    <div class="col-md-12 mt-4">
      <label for="imagen-equipo">Escudo Archivo</label>
      <input
        type="file"
        class="form-control"
        id="imagen-equipo"
        name="crestLocal"
        aria-describedby="inputGroupFileAddon04"
        aria-label="Upload"
      />
    </div>
    <div class="col-6">
      <a
        href="/api/v1/clubs/"
        class="btn btn-primary justify-content-end"
        id="boton-retroceder"
        value="retroceder"
      >Retroceder</a>
    </div>
    <div class="col-6 d-flex flex-row-reverse">
      <button
        type="submit"
        class="btn btn-success align-self-end"
        id="boton-a単adir"
        value="a単adir"
      >A単adir</button>
    </div>
  </form>

  {{#if data.error}}
    <div class="row g-3 d-flex p-2">
      <p class="error">{{data.error}}</p>
    </div>
  {{/if}}
</div>